<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/normalise.css" rel="stylesheet" />
    <link href="/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap" rel="stylesheet">
    <title>Cat-alogue</title>
  </head>
  <body>
    <h1>School of Code Cat-alogue</h1>
    <form id="create">
      <label>Cat's name: <input id="cat-name" required maxlength="50" ></input></label>
      <label>Human servant: <input id="human-name" required maxlength="50"></input></label>
      <label>Favorite hobby: <input id="hobby" required maxlength="50"></input></label>
      <button type="submit">Add that cat! 😼</button>
    </form>
    <button id="get-cats">Refresh the cat-alogue! 🐈↻</button>
    <section id="cats"></section>
    <script src="/main.js"></script>
  </body>
</html>
